# Git environment
.gitattributes

# Environment config
venv/*
.vscode/*
.python-version

# Generated Python Files
*.pyc
logria.egg-info/*
.coverage

# Build
dist/*
logria_ReagentX.egg-info/*
build/src/dependant
build/src/standalone
